@model ApplicationBlog.UI.Models.Home.HomeIndexModel
@{
    ViewData["Title"] = "Home Page";
}


<div class="container">

    <div class="blogHeader">
        <h2>Welcome <br /> To <br /> Application <br /> BLOG</h2>
    </div>


    @if (!Model.LatestPosts.Any())
    {
        <h1 class="blogEmptyMessage">Currently, <br /> This Blog is Empty</h1>
    }
    else
    {
    @foreach (var post in Model.LatestPosts)
    {
            <div class="card text-bg-dark">
            <img src="@post.ImageUrl" class="card-img" style="height:300px; object-fit:cover; position:center" alt="...">
        <div class="card-img-overlay">
                <h5 class="card-title title"><a asp-action="Index" asp-controller="Post" asp-route-id="@post.Id" class="postTitle">@post.Title / @post.category</a></h5>

            </div>
              </div>
    }
        
    }





</div>